body{
    margin: 0;
    font-family: cursive;
}
#logobar{
    height: 45px;
    width: 100%;
    background-color:aliceblue ;
    color:blue;
    
    
}
#itembar{
    height: 45px;
    width: 100%;
    background-color:gold;
    margin:0%;
    padding-left: 0%;
    color: black;
    
    
}
#greenbar{
    height: 45px;
    width: 100%;
    background-color:green;
    margin:0%;
    padding: 0%;
    color: white;
    
}
.specifywidth{
width:  1050px;
margin: 0 auto;
background-color:black;
}
#logo{
    padding: 8px 0px 0px 8px;
    float: left;
}
ul{
    list-style: none;
    float: left;
}
li{
    float: left;
    padding: 0px 20px 0px 20px ;
    background-color: transparent;
    color:white;
    cursor:pointer;
}
.button{
    color:blue;
    font-size: 15px;
    cursor: pointer;
}
#navbardiv{
    position:relative;
    float:left;
}
.dropdown{
    display:none;
    position: fixed;
    background-color: #f3f0f0;
    min-width: 160px;
    z-index: 1;

}
.dropdown a:hover{
    background-color: #fff;
    color:black;
}
.Morebutton:hover .dropdown{
    display:grid; 
    grid-template-columns: auto auto auto;
    margin-top: 25px;
    column-gap: 10px;
    width: 100%;

}
a{
   text-decoration: none; 
   color:#002c5f;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    object-fit: scale-down;
    height: 450px;
  }
  .placeholderforpics{    
      display: grid;
    grid-template-columns: auto auto;
    background-color: #2196F3;
    object-fit: contain;
    height: 450px;
    padding: 0%;
    margin: 0%;

  }
.griditem
  {
width: auto;
float:left;
}
